.container {
	width: 1200px;
	margin: 0 auto;
	font: .9em parisine-std-n4, parisine-std, "Droid Sans", "PT Sans", Lato, Arimo, Cabin, Nobile, Cantarell, Puritan, Tahoma, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

header {
	background: red;
	overflow: hidden;
	padding: 20px;
}

h1 {
	width: 800px;
	float: left;
}

.logo {
	height: 80px;
	width:200px;
	background: yellow;
	float: right;
}

#tagline {
	text-align: center;
}

nav {
	margin-top: 25px;
	float: center;
	background: yellow;
	width: 1200px;
	text-align: center;
}

nav a {
	display: inline-block;
	background: pink;
	height: 40px;
	width: 100px;
}

main {
	height:250px;
	background: blue;
	margin-top: 20px;
	margin-bottom: 20px;
}

#picAndrew {
	height: 250px;
	width:200px;
	background: yellow;
	float: left;
}

#aboutAndrew {
	background: green;
	height: 250px;
	width: 1000px;
	float: right;
}

#picHollow {
	height: 250px;
	width:200px;
	background: yellow;
	float: right;
}

#aboutHollow {
	background: green;
	height: 250px;
	width: 1000px;
	float: left;
}

footer {
	background: orange;
	height: 100px;
	margin-top: 20px
}

.clear {
	clear:both;
}